
body{
    font-family: sans-serif;
}

.container{
    width: 30%;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

.inputs{
    display: flex;
}

.input{
    /* display: flex; */
    width: 30%;
    /* margin: 20px; */
    text-align: center;
}

.buttons{
    width: 40%;
    margin: auto;
    margin-top: 30px;
}

.buttons button{
    border: 1px solid black;
    background-color: white;
    padding: 5px;
    box-shadow: 5px 5px 5px gray;
}

.buttons button:hover{
    cursor: pointer;
}

#inputA{
    width: 50%;
}

#inputB{
    width: 50%;
}